<launch>
    <param name = "robot_description" command = "$(find xacro)/xacro --inorder '$(find my_robot)/urdf/my_robot.urdf'"/>

    <node name= "joint_state_publisher" pkg = "joint_state_publisher" type = "joint_state_publisher"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot)/rviz/my_robot.rviz" />

</launch>